//====================================================================================================
.main-block {
 @include background(url("../img/main-block/main-block-bg.jpg"));
 height: rem(703);
 @include adaptiveValue("padding-bottom", 47, 24);
 padding-top: rem(24);
 @media (max-width: $mobile) {
  height: auto; 
 }
 // .main-block__container
 &__container {
  height: 100%;
 }
  // .main-block__inner
 &__inner {
  display: flex;
  align-items: flex-end;
  @include adaptiveValue("gap", 70, 20);
  height: 100%;
  @media (max-width: $tablet) {
   flex-direction: column;
   align-items: flex-start;
   }
  }
 // .main-block__header
 &__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(26);
  margin-bottom: rem(35);
  @media (max-width: $tablet) {
   justify-content: flex-start;
  }
  @media (max-width: $mobile) {
   flex-direction: column-reverse;
  }
 }
 // .main-block__logo
 &__logo {
  @media (max-width: $mobileSmall) {
   width: 100%;
  }
 }
 // .main-block__title
 &__title {
  @include adaptiveValue("font-size", 33, 20);
  line-height: math.div(49, 33);
  @extend %gilroy-semibold;
  color: $btnColor;
  max-width: rem(321);
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .main-block__content
 &__content {
  max-width: rem(550);
  width: 100%;
  @media (max-width: $tablet) {
   max-width: 100%;
   order: -1;
  }
 }
 // .main-block__box 
 &__box {
  display: flex;
  align-items: flex-end;
  position: relative;
  max-width: rem(550);
  width: 100%;
  height: rem(488);
  z-index: 4;
  @media (max-width: $tablet) {
   justify-content: center;
   max-width: 100%;
  }
  @media (max-width: $mobile) {
   height: auto; 
  }
 }
 // .main-block__btn
 &__btn {
  z-index: 1;
 }
 // .main-block__list
 &__list {
  padding-left: rem(35);
 }
 // .main-block__item
 &__item {
  font-size: rem(16);
  line-height: math.div(24, 16);
  color: #685A7B;
  position: relative;
  span {
   @extend %gilroy-semibold;
  }
  &::before {
   @include pseudo;
   @include background(url("../img/main-block/star.png"));
   width: rem(15);
   height: rem(15);
   left: rem(-38);
   top: rem(5);
  }
  &:not(:last-child) {
   margin-bottom: rem(16);
  }
 }
 // .main-block__image-fly
 &__image-fly {
  position: absolute;
  left: 50%;
  top: 9%;
  transform: translateX(-50%);
  @media (max-width: $tablet) {
   display: none;
  }
 }
 // .main-block__image-family
 &__image-family {
  position: absolute;
  left: 5%;
  bottom: 10%;
  z-index: -1;
  width: 100%;
  @media (max-width: $tablet) {
   width: 30%;
   bottom: 22%;
   left: 36%;
  }
  @media (max-width: $mobile) {
   display: none;
  }
 }
}
//====================================================================================================
.video {
 background: linear-gradient(180deg, #ADD2E4 0%, rgba(173, 210, 228, 0) 100%);
 height: rem(730);
 margin-top: rem(-1);
 position: relative;
 &::before {
  @include pseudo;
  @include background(url("../img/sky.png"));
  width: rem(1200);
  height: rem(612);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 }
 // .video__link
 &__link {
 }
}
//=======================================================================================================
.about {
 background-color: #ADD2E4;
 position: relative;
 padding-top: rem(24);
 @include adaptiveValue("padding-bottom", 80, 24);
 &::before {
  @include pseudo;
  @include background(url("../img/about/about-bg.png"));
  width: 100%;
  height: 100%;
 }
 // .about__container
 &__container {
 }
 // .about__title-box
 &__title-box {
  position: relative;
  width: rem(540);
  height: rem(185);
  &::before {
   @include pseudo;
   @include background(url("../img/about/cite.png"));
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
  }
 }
 // .about__title
 &__title {
  @extend %housearama-regular;
  @include adaptiveValue("font-size", 28, 24);
  line-height: math.div(40, 28);
  color: $subtitleColor;
  max-width: rem(290);
  width: 100%;
 }
 // .about__inner
 &__inner {
 }
}
//====================================================================================================================
.author {
 // .author__header
 &__header {
 }
 // .author__image
 &__image {
 }
 // .author__info
 &__info {
 }
 // .author__name
 &__name {
 }
 // .author__position
 &__position {
 }
 // .author__citation
 &__citation {
 }
 // .author__text
 &__text {
 }
}
//==================================================================================================================
.ages {
 // .ages__item
 &__item {
 }
 // .ages__header
 &__header {
 }
 // .ages__image
 &__image {
 }
 // .ages__info
 &__info {
 }
 // .ages__info-title
 &__info-title {
 }
 // .ages__info-text
 &__info-text {
 }
 // .ages__text
 &__text {
 }
}
