//====================================================================================================
.main-block {
 @include background(url("../img/main-block/main-block-bg.jpg"));
 height: rem(703);
 @include adaptiveValue("padding-bottom", 47, 24);
 padding-top: rem(24);
 @media (max-width: $mobile) {
  height: auto; 
 }
 // .main-block__container
 &__container {
  height: 100%;
 }
  // .main-block__inner
 &__inner {
  display: flex;
  align-items: flex-end;
  @include adaptiveValue("gap", 70, 20);
  height: 100%;
  @media (max-width: $tablet) {
   flex-direction: column;
   align-items: flex-start;
   }
  }
 // .main-block__header
 &__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(26);
  margin-bottom: rem(35);
  @media (max-width: $tablet) {
   justify-content: flex-start;
  }
  @media (max-width: $mobile) {
   flex-direction: column-reverse;
  }
 }
 // .main-block__logo
 &__logo {
  @media (max-width: $mobileSmall) {
   width: 100%;
  }
 }
 // .main-block__title
 &__title {
  @include adaptiveValue("font-size", 33, 20);
  line-height: math.div(49, 33);
  @extend %gilroy-semibold;
  color: $btnColor;
  max-width: rem(321);
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .main-block__content
 &__content {
  max-width: rem(550);
  width: 100%;
  @media (max-width: $tablet) {
   max-width: 100%;
   order: -1;
  }
 }
 // .main-block__box 
 &__box {
  display: flex;
  align-items: flex-end;
  position: relative;
  max-width: rem(550);
  width: 100%;
  height: rem(488);
  z-index: 4;
  @media (max-width: $tablet) {
   justify-content: center;
   max-width: 100%;
  }
  @media (max-width: $mobile) {
   height: auto; 
  }
 }
 // .main-block__btn
 &__btn {
  z-index: 1;
 }
 // .main-block__list
 &__list {
  padding-left: rem(35);
 }
 // .main-block__item
 &__item {
  font-size: rem(16);
  line-height: math.div(24, 16);
  color: #685A7B;
  position: relative;
  span {
   @extend %gilroy-semibold;
  }
  &::before {
   @include pseudo;
   @include background(url("../img/main-block/star.png"));
   width: rem(15);
   height: rem(15);
   left: rem(-38);
   top: rem(5);
  }
  &:not(:last-child) {
   margin-bottom: rem(16);
  }
 }
 // .main-block__image-fly
 &__image-fly {
  position: absolute;
  left: 50%;
  top: 9%;
  transform: translateX(-50%);
  @media (max-width: $tablet) {
   display: none;
  }
 }
 // .main-block__image-family
 &__image-family {
  position: absolute;
  left: 5%;
  bottom: 10%;
  z-index: -1;
  width: 100%;
  @media (max-width: $tablet) {
   width: 30%;
   bottom: 22%;
   left: 36%;
  }
  @media (max-width: $mobile) {
   display: none;
  }
 }
}
//====================================================================================================
.video {
 background: linear-gradient(180deg, #ADD2E4 0%, rgba(173, 210, 228, 0) 100%);
 height: rem(730);
 margin-top: rem(-1);
 position: relative;
 &::before {
  @include pseudo;
  @include background(url("../img/sky.png"));
  background-size: contain;
  width: 100%;
  height: rem(612);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 }
 // .video__link
 &__link {
 }
}
//=======================================================================================================
.project {
 background-color: #ADD2E4;
 position: relative;
 padding-top: rem(24);
 @include adaptiveValue("padding-bottom", 180, 24);
 &::before {
  @include pseudo;
  @include background(url("../img/project/project-bg.png"));
  width: 100%;
  height: 100%;
 }
 // .project__container
 &__container {
 }
 // .project__title-box
 &__title-box {
  max-width: rem(539);
  width: 100%;
  height: rem(183);
  position: relative;
  z-index: 1;
  left: -17%;
  @include adaptiveValue("margin-bottom", 90, 40);
 }
 // .project__title
 &__title {
  @extend %housearama-regular;
  @include adaptiveValue("padding-top", 34, 16);
  @include adaptiveValue("padding-right", 54, 5);
  @include adaptiveValue("padding-bottom", 28, 16);
  @include adaptiveValue("padding-left", 190, 125);
  @include adaptiveValue("font-size", 28, 18);
  font-weight: 800;
  line-height: math.div(40, 28);
  text-transform: uppercase;
  width: 100%;
  position: relative;
  &::after {
   @include pseudo;
   @include background(url("../img/project/question.png"));
   width: rem(202);
   height: rem(189);
   top: -10%;
   right: -25%;
   @media (max-width: 466px) {
    width: rem(113);
    height: rem(92);
    right: -17%;
    top: 34%;
   }
  }
 }
 // .project__image 
 &__image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  @include adaptiveValue("height", 183, 120);
 }
 // .project__inner
 &__inner {
  display: flex;
  justify-content: space-between;
  @media (max-width: $tablet) {
   flex-direction: column-reverse;
  }
 }
}
//====================================================================================================================
.author {
 max-width: rem(513);
 width: 100%;
 background: rgba(255, 255, 255, 0.3);
 border: 3px solid #434343; 
 border-radius: rem(20);
 padding: rem(40) rem(14) rem(36) rem(40); 
 height: rem(394);
 position: relative;
 margin-right: rem(20);
 &::after {
  @include pseudo;
  @include background(url("../img/project/quotes.png")); 
  width: rem(50);
  height: rem(50);
  right: rem(20);
  top: rem(-23);
 }
 @media (max-width: $tablet) {
  margin: 0 auto;
 }
 @media (max-width: $mobile) {
  height: 100%;
 }
 // .author__header
 &__header {
  display: flex;
  align-items: center;
  gap: rem(30);
  margin-bottom: rem(21);
  @media (max-width: $mobile) {
   flex-direction: column;
  }
 }
 // .author__image
 &__image {
 }
 // .author__info
 &__info {
  max-width: rem(283);
  width: 100%;
  @media (max-width: $mobile) {
   text-align: center;
  }
 }
 // .author__name
 &__name {
  @extend %housearama-regular;
  font-size: rem(20);
  line-height: math.div(19, 20);
  letter-spacing: 0.09em;
  text-shadow: -2px 2px 3px rgba(62, 52, 99, 0.3);
  text-transform: uppercase;
  color: $primaryColor;
  margin-bottom: rem(10);
  -webkit-text-stroke: rem(0.5) $mainColor;
 }
 // .author__position
 &__position {
  font-weight: 300;
  line-height: math.div(19, 16);
  color: #6A6A6A;
 }
 // .author__citation
 &__citation {
  max-width: rem(460);
  width: 100%;
 }
 // .author__text
 &__text {
  line-height: math.div(28, 16);
  color: #5E5E5E;
  &:not(:last-child) {
   margin-bottom: rem(20);
  }
 }
}
//==================================================================================================================
.ages {
 margin-top: rem(-250);
 @media (max-width: $tablet) {
  margin-top: 0;
  margin-bottom: rem(40);
 }
 // .ages__item
 &__item {
  max-width: rem(600);
  width: 100%;
  &:not(:last-child) {
   margin-bottom: rem(50);
  }
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .ages__header
 &__header {
  display: flex;
  align-items: center;
  margin-bottom: rem(20);
 }
 // .ages__image
 &__image {
  margin-right: rem(30);
 }
 // .ages__info
 &__info {
 }
 // .ages__info-title
 &__info-title {
  font-size: rem(32);
  line-height: math.div(31, 32);
  letter-spacing: 0.09em;
  text-shadow: -5px 5px 5px rgba(128, 111, 61, 0.5);
  color: $primaryColor;
  margin-bottom: rem(8);
  -webkit-text-stroke: rem(0.7) $mainColor;
 }
 // .ages__info-text
 &__info-text {
  @extend %gilroy-semibold;
 }
 // .ages__text
 &__text {
  line-height: math.div(28, 18);
 }
}
//=======================================================================
.about {
 background-image: url("../img/about/about-bg.png");
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
 position: relative;
 top: rem(-150);
 padding-top: rem(190);
 @include adaptiveValue("padding-bottom", 190, 20);
 max-height: 100%;
 z-index: 3;
 // .about__container
 &__container {
 }
 // .about__box
 &__box {
  max-width: rem(797);
  width: 100%; 
  height: rem(183);
  margin-left: auto;
  position: relative;
  z-index: 3;
  margin-bottom: rem(100);
 }
 // .about__title
 &__title {
  @extend %housearama-regular;
  @include adaptiveValue("padding-top", 34, 16);
  @include adaptiveValue("padding-right", 160, 90);
  @include adaptiveValue("padding-bottom", 28, 16);
  @include adaptiveValue("padding-left", 70, 30);
  @include adaptiveValue("font-size", 28, 18);
  font-weight: 800;
  line-height: math.div(40, 28);
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  position: relative;
  &::before {
   @include pseudo;
   @include background(url("../img/about/exclamation.png"));
   width: rem(202);
   height: rem(190);
   left: -17%;
   bottom: 0;
   @media (max-width: $mobile) {
    @include background(url("../img/idea/exclamation.png"));
    width: rem(134);
    height: rem(143);
    right: -2%;
    bottom: -19%;
   }
  }
 }
 // .about__image 
 &__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 }
 // .about__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  margin-bottom: rem(85);
  gap: rem(50);
 }
 // .about__item
 &__item {
  max-width: rem(360);
  height: rem(450);
  background-color: $headerColor;
  border: 3px solid #434343;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: rem(200) rem(23) rem(30) rem(23);
  text-align: center;
  @media (max-width: 1222px) {
   max-width: 100%;
  }
 }
 // .about__item-title
 &__item-title {
  @extend %housearama-regular;
  @include adaptiveValue("font-size", 24, 18);
  color: $accentColor;
  margin-bottom: rem(20);
  position: relative;
  text-transform: uppercase;
  span {
   @include adaptiveValue("font-size", 48, 28);
   line-height: math.div(47, 48);
   margin-bottom: rem(13);
   display: block;
  }
  &::before {
   @include pseudo;
   @include background(url("../img/about/about-1.jpg"));
   width: rem(100);
   height: rem(100);
   left: 50%;
   top: rem(-130);
   transform: translateX(-50%);
  }
 }
 // .about__text
 &__text {
  line-height: math.div(28, 18);
 }
}
//====================================================================================
.place {
 // .place__box
 &__box {
  margin-bottom: rem(70);
  position: relative;
  z-index: 3;
  max-width: rem(847);
  width: 100%;
 }
 // .place__title
 &__title {
  @extend %housearama-regular;
  @include adaptiveValue("padding-top", 32, 10);
  @include adaptiveValue("padding-right", 140, 70);
  @include adaptiveValue("padding-bottom", 32, 8);
  @include adaptiveValue("padding-left", 110, 50);
  @include adaptiveValue("font-size", 28, 18);
  font-weight: 800;
  line-height: math.div(40, 28);
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  position: relative;
  &::after {
   @include pseudo;
   @include background(url("../img/about/question.png"));
   width: rem(220);
   height: rem(190);
   right: -5%;
   bottom: -15%;
   @media(max-width: $mobile) {
    @include background(url("../img/about/question-mobi.png"));
    width: rem(132);
    height: rem(164);
    right: 6%;
    bottom: 60%;
   }
  }
 }
 // .place__box-image 
 &__box-image {
  position: absolute;
  top: 0;
  left: -10%;
  z-index: -1;
  width: 100%;
  height: 100%;
 }
 // .place__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(340px, 1fr)));
  gap: rem(55);
  margin-bottom: rem(60);
 }
 // .place__item
 &__item {
  background-color: $headerColor;
  border-radius: rem(30);
  border: 3px solid #434343;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
   border-color: $primaryColor;
  }
 }
 // .place__image
 &__image {
  width: 100%;
 }
 // .place__item-title
 &__item-title {
  @extend %housearama-regular;
  @include adaptiveValue("font-size", 20, 14);
  line-height: math.div(28, 20);
  color: $btnColor;
  padding: rem(34) rem(32);
  text-transform: uppercase;
 }
}
//===================================================================================
.idea {
 background-image: url("../img/idea/idea-bg.jpg");
 background-repeat: no-repeat;
 background-size: 100% 100%;
 @include adaptiveValue("padding-top", 250, 140);
 @include adaptiveValue("padding-bottom", 150, 90);
 position: relative;
 top: rem(-270);
 z-index: 2;
 // .idea__container
 &__container {
 }
 // .idea__header
 &__header {
  display: flex;
  justify-content: space-between;
  @media (max-width: $tablet) {
   display: block;
   margin-bottom: rem(30);
  }
 }
 // .idea__header-box
 &__header-box {
  position: relative;
  max-width: rem(321);
  width: 100%;
  height: rem(155);
  z-index: 1;
  margin-right: rem(40);
  &::before {
   @include pseudo;
   @include background(url("../img/idea/fly.png"));
   width: rem(113);
   height: rem(122);
   left: 5%;
   top: 100%;
   @media (max-width: $tablet) {
    width: rem(60);
    height: rem(64);
   }
  }
  @media (max-width: $tablet) {
   margin-right: 0;
   margin-bottom: rem(90);
  }
 }
 // .idea__title
 &__title {
  @extend %housearama-regular;
  @include adaptiveValue("padding-top", 38, 29);
  @include adaptiveValue("padding-right", 51, 9);
  @include adaptiveValue("padding-bottom", 38, 29);
  @include adaptiveValue("padding-left", 30, 24);
  @include adaptiveValue("font-size", 20, 14);
  font-weight: 800;
  line-height: math.div(40, 28);
  text-transform: uppercase;
  width: 100%;
  position: relative; 
  &::after {
   @include pseudo;
   @include background(url("../img/project/question.png"));
   width: rem(139);
   height: rem(136);
   right: -25%;
   top: -20%;
   @media (max-width: $tablet) {
    width: rem(124);
    height: rem(122);
   }
   @media (max-width: $mobileSmall) {
    right: -12%;
    top: -28%;
   }
  }
 }
 // .idea__title-image
 &__title-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
 }
 // .idea__text-box
 &__text-box {
  position: relative;
  max-width: rem(643);
  width: 100%;
  height: rem(334);
  z-index: 1;
  @media (max-width: $tablet) {
   margin-left: auto;
  }
 } 
 // .idea__text
 &__text {
  @extend %housearama-regular;
  @include adaptiveValue("padding-top", 46, 38);
  @include adaptiveValue("padding-right", 43, 21);
  @include adaptiveValue("padding-bottom", 46, 38);
  @include adaptiveValue("padding-left", 40, 28);
  @include adaptiveValue("font-size", 20, 14);
  font-weight: 800;
  line-height: math.div(40, 28);
  text-transform: uppercase;
  width: 100%;
  position: relative; 
  &::after {
   @include pseudo;
   @include background(url("../img/idea/exclamation.png"));
   width: rem(139);
   height: rem(137);
   top: -25%;
   right: 4%;
   @media (max-width: $tablet) {
    top: 60%;
    right: 5%;
    width: rem(124);
    height: rem(122);
   }
   @media (max-width: $mobileSmall) {
    top: -28%;
   }
  }
 }
 // .idea__text-image 
 &__text-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
 }
 // .idea__box
 &__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: rem(100);
  @media (max-width: $mobile) {
   flex-direction: column-reverse;
  }
 }
 // .idea__demo
 &__demo {
  display: flex;
  flex-direction: column;
  max-width: rem(450);
  width: 100%;
  position: relative;
 }
 // .idea__link
 &__link {
  @extend %gilroy-semibold;
  @include adaptiveValue("font-size", 18, 16);
  line-height: math.div(28, 18);
  text-align: center;
  color: #393939; 
  background: rgba(255, 255, 255, 0.2);
  border: rem(2) solid #434343;
  backdrop-filter: blur(2.5px);
  border-radius: rem(50);
  padding: rem(13) rem(30) rem(20);
  height: rem(158);
  @media (max-width: $mobileSmall) {
   padding: rem(13) rem(30) rem(160);
  }
 }
 // .idea__btn
 &__btn {
  @extend %gilroy-semibold;
  @include adaptiveValue("font-size", 20, 18);
  line-height: math.div(32, 20);
  letter-spacing: 0.3em;
  background-color: $primaryColor;
  color: #434343;
  border: rem(3) solid #434343;
  box-shadow: rem(4) rem(4) rem(10) #524267;
  border-radius: rem(120);
  padding: rem(22) rem(0);
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.5s;
  &:hover {
   background-color: $headerColor;
   color: $mainColor;
  }
 }
 // .idea__author
 &__author {
  width: rem(150);
  height: rem(150);
  @media (max-width: $mobile) {
   margin-bottom: rem(20);
  }
 }
}
//==============================================================================================
.broadcast {
 // .broadcast__box
 &__box {
  max-width: rem(530);
  width: 100%;
  height: rem(147);
  margin-left: auto; 
  position: relative;
  z-index: 1;
  @include adaptiveValue("margin-bottom", 60, 40);
  @media (max-width: $mobile) {
   height: rem(85);
  }
 }
 // .broadcast__title
 &__title {
  @extend %housearama-regular;
  @include adaptiveValue("padding-top", 39, 11);
  @include adaptiveValue("padding-right", 150, 100);
  @include adaptiveValue("padding-bottom", 28, 14);
  @include adaptiveValue("padding-left", 75, 20);
  @include adaptiveValue("font-size", 20, 14);
  font-weight: 800;
  line-height: math.div(40, 28);
  text-transform: uppercase;
  width: 100%;
  position: relative; 
  margin-left: auto;
  &::after {
   @include pseudo;
   @include background(url("../img/about/exclamation.png"));
   width: rem(202);
   height: rem(190);
   top: -30%;
   left: -25%;
   @media (max-width: $mobile) {
    width: rem(136);
    height: rem(143);
    left: 75%;
    top: -60%;
    @include background(url("../img/idea/exclamation.png"));
   }
   @media (max-width: $mobileSmall) {
    left: 65%;
   }
  }
 }
 // .broadcast__box-image 
 &__box-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
 }
 // .broadcast__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(320px, 1fr)));
  grid-template-rows: repeat(auto-fit, (minmax(180px, 1fr)));
  gap: rem(55);
 }
 // .broadcast__item
 &__item {
  background-color: $headerColor;
  padding: rem(160) rem(60) rem(50);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: center;
  border: rem(3) solid #434343;
  box-shadow: 0px 0px rem(10) rgba(0, 0, 0, 0.25);
  border-radius: rem(30);
  &::before {
   @include pseudo; 
   @include background(url("../img/idea/family.png"));
   width: rem(120);
   height: rem(120);
   top: rem(30);
   left: 50%;
   transform: translateX(-50%);
   @media (max-width: $mobile) {
    width: rem(60);
    height: rem(60);
    left: 13%;
    transform: translateX(-13%);
   }
  }
  &_sport {
   padding: rem(160) rem(30) rem(50);
   &::before {
    @include background(url("../img/idea/sport.png"));
   }
  }
  &_self {
   padding: rem(160) rem(14) rem(20);
   &::before {
    @include background(url("../img/idea/self.png"));
    left: 40%;
    transform: translateX(-40%);
    @media (max-width: $mobile) {
     left: 9%;
    }
   }
  }
  &_image {
   padding: rem(160) rem(12) rem(2);
   &::before {
    @include background(url("../img/idea/image.png"));
   }
  }
  &_quality {
   padding: rem(160) rem(30) rem(0);
   &::before {
    @include background(url("../img/idea/quality.png"));
   }
  }
  &_finance {
   padding: rem(160) rem(14) rem(45);
   &::before {
    @include background(url("../img/idea/finance.png"));
   }
  }
  @media (max-width: $mobile) {
   padding: rem(60) rem(60) rem(50);
  }
 }
 // .broadcast__item-title
 &__item-title {
  display: inline-flex;
  @extend %housearama-regular;
  font-weight: 900;
  font-size: rem(20);
  line-height: math.div(28, 20);
  margin-bottom: rem(10);
  color: $primaryColor;
  -webkit-text-stroke: rem(0.7) $mainColor;
 }
 // .broadcast__text
 &__text {
  @extend %gilroy-semibold;
  @include adaptiveValue("font-size", 18, 16);
  line-height: math.div(24, 18);
  @media (max-width: $mobile) {
   text-align: left;
  }
 }
}
//===============================================================================
.subscribe {
 padding: rem(170) 0 rem(100);
 background-image: url("../img/subscribe/bg.png");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
 top: rem(-350);
 z-index: 4;
 // .subscribe__container
 &__container {
 }
 // .subscribe__box-left
 &__box-left {
  max-width: rem(833);
  width: 100%;
  position: relative;
  z-index: 1;
  @media (max-width: $tablet) {
   margin-bottom: rem(25);
  }
 }
 // .subscribe__text
 &__text {
  @extend %housearama-regular;
  @include adaptiveValue("font-size", 20, 14);
  font-weight: 800;
  line-height: math.div(40, 20);
  color: #181818;
  text-transform: uppercase;
  &_left {
   width: 100%;
   @include adaptiveValue("padding-top", 25, 10);
   @include adaptiveValue("padding-right", 55, 40);
   @include adaptiveValue("padding-bottom", 17, 10);
   @include adaptiveValue("padding-left", 225, 130);
   //margin-left: rem(23);
   @media (max-width: $mobileSmall) {
    padding-left: rem(110);
   }
  }
  &_right {
   width: 100%;
   @include adaptiveValue("padding-top", 24, 14);
   @include adaptiveValue("padding-right", 146 , 60);
   @include adaptiveValue("padding-bottom", 21, 14);
   @include adaptiveValue("padding-left", 52, 25);
  }
 }
 // .subscribe__cite-left
 &__cite-left {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
 }
 // .subscribe__box-right
 &__box-right {
  @include adaptiveValue("margin-bottom", 80, 30);
  max-width: rem(620);
  width: 100%;
  height: rem(125);
  margin-left: auto;
  position: relative;
  z-index: 1;
 }
 // .subscribe__cite-right
 &__cite-right {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  @media (max-width: $mobileSmall) {
   height: 90%;
  }
 }
 // .subscribe__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(335px, 1fr)));
  gap: rem(58);
  text-align: center;
  padding-bottom: rem(70);
 }
 // .subscribe__item
 &__item {
  background-color: $headerColor;
  @include adaptiveValue("padding-top", 100, 80);
  @include adaptiveValue("padding-right", 31, 10);
  @include adaptiveValue("padding-bottom", 50, 40);
  @include adaptiveValue("padding-left", 31, 10);
  border: rem(3) solid #434343;
  box-shadow: 0px 0px rem(10) rgba(0, 0, 0, 0.25);
  border-radius: rem(30);
  transition: all 0.5s;
  position: relative;
  &:hover {
   border-color: $primaryColor;
  }
  &::before {
   @include pseudo;
   @include background(url("../img/subscribe/level-1.png"));
   width: rem(50);
   height: rem(40);
   left: 50%;
   top: rem(40);
   transform: translateX(-50%);
  }
  &_second {
   &::before {
    @include background(url("../img/subscribe/level-2.png"));
   }
  }
  &_third {
   &::before {
    @include background(url("../img/subscribe/level-3.png"));
   }
  }
 }
 // .subscribe__name
 &__name {
  @extend  %housearama-regular;
  font-size: rem(20);
  font-weight: 900;
  line-height: math.div(28, 20);
  color: $primaryColor;
  -webkit-text-stroke: rem(0.7) $mainColor;
  text-transform: uppercase;
  margin-bottom: rem(20);
 }
 // .subscribe__list
 &__list {
  margin-bottom: rem(40);
 }
 // .subscribe__list-item
 &__list-item {
  @extend %gilroy-semibold;
  font-size: rem(20);
  line-height: math.div(28, 20);
  padding-left: rem(20);
  position: relative;
  text-align: left;
  span {
   display: block;
   @extend %gilroy-regular;
   font-size: rem(16);
   line-height: math.div(19, 16);
   color: #454545;
  }
  &:not(:last-child) {
   margin-bottom: rem(20);
  }
  &::before {
   @include pseudo;
   @include background(url("../img/main-block/star.png"));
   width: rem(15);
   height: rem(15);
   left: rem(-3);
   top: rem(6);
  }
 }
 // .subscribe__price
 &__price {
  font-size: rem(32);
  line-height: math.div(28, 32);
  @extend %housearama-regular;
  font-weight: 900;
  color: $btnColor;
  margin-bottom: rem(22);
  span {
   @extend %gilroy-regular;
   font-size: rem(14);
   line-height: math.div(28, 14);
   color: #454545;
   display: block;
  }
 }
 // .subscribe__digital,
 // .subscribe__log
 &__digital,
 &__log {
  @extend %gilroy-semibold;
  font-size: rem(20);
  line-height: math.div(28, 20);
  margin-bottom: rem(10);
 }
 // .subscribe__link
 &__link {
  @extend %gilroy-semibold;
  font-size: rem(20);
  line-height: math.div(32, 20);
  background-color: $primaryColor;
  border: rem(3) solid #434343;
  box-shadow: rem(4) rem(4) rem(10) #524267;
  border-radius: rem(120);
  margin-bottom: rem(40);
  display: block;
  padding: rem(24) rem(20);
  transition: all 0.5s;
  &:hover {
   color: $primaryColor;
   background-color: $headerColor;
   border-color: $primaryColor ;
  }
 }
 // .subscribe__ozon
 &__ozon {
  border: rem(2) solid #005BFF;
  background-color: $headerColor;
  color: #005BFF;
  margin-bottom: rem(20);
  position: relative;
  &::before {
   @include pseudo;
   @include background(url("../img/subscribe/ozon.png")); 
   width: rem(40);
   height: rem(40);
   left: rem(18);
   top: 50%;
   transform: translateY(-50%);
  }
 }
 // .subscribe__wild
 &__wild {
  border: rem(2) solid #84128F;
  color: #84128F;
  background-color: $headerColor;
  margin-bottom: rem(30);
  padding: rem(28) rem(14) rem(20) rem(62);
  position: relative;
  &::before {
   @include pseudo;
   @include background(url("../img/subscribe/wild.png")); 
   width: rem(40);
   height: rem(40);
   left: rem(10);
   top: 50%;
   transform: translateY(-50%);
  }
 }
 // .subscribe__pdf
 &__pdf {
  font-size: rem(20);
  line-height: math.div(28, 20);
  padding-left: rem(40);
  position: relative;
  &::before {
   @include pseudo;
   @include background(url("../img/subscribe/pdf-file.jpg"));
   width: rem(30);
   height: rem(30);
   top: 0;
   left: 0;
  }
 }
}
//========================================================================================
.team {
 @include adaptiveValue("padding-top", 100, 70);
 @include adaptiveValue("padding-bottom", 100, 70);
 background-image: url("../img/team/bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
 top: rem(-465);
 z-index: -1;
 // .team__container
 &__container {
 }
 // .team__box
 &__box {
  max-width: rem(787);
  width: 100%;
  height: rem(171);
  position: relative;
  z-index: 1;
  @include adaptiveValue("margin-bottom", 90, 40);
 }
 // .team__title
 &__title {
  @extend %housearama-regular;
  @include adaptiveValue("padding-top", 34, 16);
  @include adaptiveValue("padding-right", 160, 30);
  @include adaptiveValue("padding-bottom", 17, 16);
  @include adaptiveValue("padding-left", 213, 66);
  @include adaptiveValue("font-size", 28, 18);
  font-weight: 800;
  line-height: math.div(40, 28);
  text-transform: uppercase;
  width: 100%;
  position: relative;
  &::after {
   @include pseudo;
   @include background(url("../img/team/exclamation.png"));
   width: rem(202);
   height: rem(189);
   top: -20%;
   right: -15%;
   @media (max-width: $tablet) {
    right: -5%;
   }
   @media (max-width: $mobile) {
    width: rem(93);
    height: rem(94);
    right: -1%;
    top: 60%;
   }
  }
 }
 // .team__box-image
 &__box-image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
 }
 // .team__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @include adaptiveValue("gap", 55, 20);
 }
 // .team__item
 &__item {
 }
 // .team__image
 &__image {
  margin-bottom: rem(21);
  width: 100%;
 }
 // .team__name
 &__name {
  @extend %housearama-regular;
  font-size: rem(20);
  font-weight: 900;
  line-height: math.div(28, 20);
  color: $primaryColor;
  -webkit-text-stroke: rem(0.7) $mainColor;
  text-transform: uppercase;
  margin-bottom: rem(10);
 }
 // .team__position
 &__position {
  font-weight: 300;
  font-size: rem(16);
  line-height: math.div(19, 16);
  margin-bottom: rem(10);
  color: #6A6A6A;
  display: block;
 }
 // .team__list
 &__list {
 }
 // .team__list-item
 &__list-item {
  font-size: rem(16);
  line-height: math.div(28, 16);
  position: relative;
  padding-left: rem(30);
  &:not(:last-child) {
   margin-bottom: rem(5);
  }
  &::before {
   @include pseudo;
   width: rem(15);
   height: rem(2);
   background-color: $btnColor;
   left: 0;
   top: rem(13);
   display: block;
  }
 }
}
//======================================================================================
.reviews {
 @include adaptiveValue("padding-top", 180, 100);
 @include adaptiveValue("padding-bottom", 180, 70);
 background-image: url("../img/reviews/bg.png");
 background-size: 100% 100%;
 background-repeat: no-repeat;
 background-position: center;
 position: relative;
 top: rem(-545);
 z-index: 1;
 // .reviews__box
 &__box {
  max-width: rem(787);
  width: 100%;
  height: rem(125);
  margin-left: auto;
  position: relative;
  z-index: 1;
  @include adaptiveValue("margin-bottom", 50, 30);
 }
 // .reviews__title
 &__title {
  @extend %housearama-regular;
  @include adaptiveValue("padding-top", 39, 12);
  @include adaptiveValue("padding-right", 100, 77);
  @include adaptiveValue("padding-bottom", 46, 12);
  @include adaptiveValue("padding-left", 89, 36);
  @include adaptiveValue("font-size", 28, 18);
  font-weight: 800;
  line-height: math.div(40, 28);
  text-transform: uppercase;
  width: 100%;
 }
 // .reviews__box-image
 &__box-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
 }
 // .reviews__slider
 &__slider {
  margin-bottom: rem(60);
 }
 // .reviews__navi
 &__navi {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: rem(-265);
  @media (max-width: $mobile) {
   top: 0; 
   margin: 0 auto rem(20);
   width: 40%;
  }
 }
 // .reviews__slide-item
 &__slide-item {
  background-color: $headerColor;
  border-radius: rem(12);
  max-width: rem(280);
  width: 100%;
  height: rem(463);
  text-align: center;
  padding: rem(20) rem(20) rem(25);
  display: block;
  position: relative; 
  @media (max-width: $tablet) {
   margin: 0 auto;
  }
 }
 // .reviews__foto-box 
 &__foto-box {
  position: relative;
  &::before {
   @include pseudo;
   @include background(url("../img/reviews/youtube.png"));
   width: rem(60);
   height: rem(60);
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%)
  } 
 }
 // .reviews__foto
 &__foto {
  border-radius: rem(12);
  margin-bottom: rem(12);
  display: block;
 }
 // .reviews__name
 &__name {
  @extend %housearama-regular;
  font-weight: 800;
  font-size: rem(16);
  line-height: math.div(28, 16);
  max-width: rem(125);
  color: $accentColor;
  margin: 0 auto;
 }
 // .reviews__filter {
 &__filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
 }
 // .reviews__btn
 &__btn {
  display: block;
  margin: 0 auto;
  text-align: center;
 }
 .swiper {
  max-width: rem(900);
  margin: 0 auto 20px;
 }
}
//=====================================================================================
.questions {
 background-image: url("../img/team/bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
 top: rem(-640);
 @include adaptiveValue("padding-top", 170, 120);
 @include adaptiveValue("padding-bottom", 120, 60);
 // .questions__box
 &__box {
  max-width: rem(787);
  width: 100%;
  height: rem(100);
  position: relative;
  z-index: 1;
  left: -12%;
  @include adaptiveValue("margin-bottom", 50, 30);
 }
 // .questions__title
 &__title {
  @extend %housearama-regular;
  @include adaptiveValue("padding-top", 30, 20);
  //@include adaptiveValue("padding-right", 100, 27);
  @include adaptiveValue("padding-bottom", 44, 12);
  @include adaptiveValue("padding-left", 190, 80);
  @include adaptiveValue("font-size", 28, 18);
  font-weight: 800;
  line-height: math.div(40, 28);
  text-transform: uppercase;
  width: 100%;
 }
 // .questions__box-image
 &__box-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
 }
}
.spollers {
 display: grid;
	gap: 40px;
 // .spollers__item
 &__item {
  background: rgba(255, 255, 255, 0.5);
  border: rem(3) solid #434343;
  backdrop-filter: blur(2px);
  border-radius: rem(40);
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
   border-color: $primaryColor;
  }
 }
 // .spollers__title
 &__title {
  display: flex;
  padding: rem(28) rem(45);    
  width: 100%;
  position: relative;
  ._spoller-init & {
   cursor: pointer;
   &::before,
   &::after {
    content: "";
    position: absolute;
    right: 30px;
    top: 50%;
    background-color: $primaryColor;
    height: 4px;
    width: 40px;
    transition: transform 0.5s ease 0s;
   }
   &::before {
    transform:  rotate(90deg);
   }
   &::after {
    transform: rotate(-180deg);
   }
   &._spoller-active {
    &::before {
     transform:  rotate(-40deg);
    }
    &::after {
     transform: rotate(40deg);
    }
   }
  }
  @media (max-width: $mobile) {
   flex-direction: column;
  }
 }
 // .spollers__client-name
 &__client-name {
  @extend %housearama-regular;
  @include adaptiveValue("margin-right", 50, 20);
  font-size: rem(20);
  font-weight: 800;
  line-height: math.div(20, 20);
  color: $primaryColor;
  -webkit-text-stroke: rem(0.7) $mainColor;
  @media (max-width: $mobile) {
   margin-bottom: rem(15);
  }
 }
 // .spollers__question
 &__question {
  font-size: rem(20);
  line-height: math.div(24, 20);
  @media (max-width: $mobile) {
   max-width: rem(220);
   width: 100%;
  }
 }
 // .spollers__body
 &__body {
  padding: rem(30) rem(45);
  border-top: rem(3) solid #434343;
 }
 // .spollers__name
 &__name {
  @extend %housearama-regular;
  font-weight: 800;
  font-size: rem(20);
  line-height: math.div(26, 20);
  color: $btnColor;
  margin-bottom: rem(18);
  -webkit-text-stroke: rem(0.7) $mainColor;
 }
}
//==========================================================================